LEI_Mapa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"> 


    <xs:element name="mapa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="curso">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nome" type="xs:string"/>
                            <xs:element name="codigo" type="xs:string"/>
                            <xs:element name="regente" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>       
                <xs:element name="epocasAvaliacao">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="epoca" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dataInicio" type="xs:string"/>
                                        <xs:element name="dataFim" type="xs:string"/>
                                        <xs:element name="exames">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="exame" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="uCurricular">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="nome" type="xs:string"/>                            
                                                                            <xs:element name="areaCientifica" type="xs:string"/>
                                                                            <xs:element name="anoCurricular" type="xs:string"/>
                                                                            <xs:element name="semestre" type="xs:string"/>
                                                                            <xs:element name="regente" type="xs:string"/>
                                                                            <xs:element name="tipologias">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="tipologia" type="xs:string"/>
                                                                                        <xs:element name="tipologia" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="hora" type="xs:string"/>
                                                                <xs:element name="dia" type="xs:string"/>
                                                                <xs:element name="tipoSala" type="xs:string"/>
                                                                <xs:element name="responsavel" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="epoca" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dataInicio" type="xs:string"/>
                                        <xs:element name="dataFim" type="xs:string"/>
                                        <xs:element name="exames">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="exame" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="uCurricular">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="nome" type="xs:string"/>                            
                                                                            <xs:element name="areaCientifica" type="xs:string"/>
                                                                            <xs:element name="anoCurricular" type="xs:string"/>
                                                                            <xs:element name="semestre" type="xs:string"/>
                                                                            <xs:element name="regente" type="xs:string"/>
                                                                            <xs:element name="tipologias">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="tipologia" type="xs:string"/>
                                                                                        <xs:element name="tipologia" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="hora" type="xs:string"/>
                                                                <xs:element name="dia" type="xs:string"/>
                                                                <xs:element name="tipoSala" type="xs:string"/>
                                                                <xs:element name="responsavel" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="epoca" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dataInicio" type="xs:string"/>
                                        <xs:element name="dataFim" type="xs:string"/>
                                        <xs:element name="exames">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="exame" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="uCurricular">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="nome" type="xs:string"/>                            
                                                                            <xs:element name="areaCientifica" type="xs:string"/>
                                                                            <xs:element name="anoCurricular" type="xs:string"/>
                                                                            <xs:element name="semestre" type="xs:string"/>
                                                                            <xs:element name="regente" type="xs:string"/>
                                                                            <xs:element name="tipologias">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="tipologia" type="xs:string"/>
                                                                                        <xs:element name="tipologia" type="xs:string"/>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="hora" type="xs:string"/>
                                                                <xs:element name="dia" type="xs:string"/>
                                                                <xs:element name="tipoSala" type="xs:string"/>
                                                                <xs:element name="responsavel" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
